fastapi==0.110.0
uvicorn==0.29.0

python-dotenv==1.0.1

sqlalchemy==2.0.29
psycopg2-binary==2.9.9

passlib==1.7.4
python-jose==3.3.0

bcrypt==4.0.1

supabase==2.3.5

pydantic==2.6.4
email-validator==2.1.1

requests==2.31.0
